$themeColor: #101113;
$themeColorGlow: #f8f9fa;
$themeColorTrans10: #1011131A;
$themeColorTrans30: #1011134d;
$themeColorTrans50: #10111380;
$themeColorTrans80: #101113cc;
$darkColor: #101113;
$darkColorTrans30: #1011134d;
$darkColorTrans50: #10111380;
$darkColorTrans80: #101113cc;
$lightColor: #f8f9fa;
$lightColorTrans10: #f8f9fa1A;
$lightColorTrans30: #f8f9fa4d;
$lightColorTrans50: #f8f9fa80;
$lightColorTrans80: #f8f9facc;
$textColor: #f8f9fa;
$mainFont: 'Inter';

$gridColsL: 5;
$gridRowsL: 7;
$gridColsR: 5;
$gridRowsR: 7;
$gridSize: 8vh;
$gridGap: 0.5rem;
$containerSize: calc(#{$gridRowsL} * #{$gridSize + 0.22vh} + #{$gridRowsL} * #{$gridGap});

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 110vh;
  background: none !important;
  overflow: hidden !important;
  user-select: none;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Inter', 'Courier New', monospace;
}

::-webkit-scrollbar {
  display: none;
}

p {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.inventory-icon {
  height: 60px; /* Set a default height */
  width: auto;  /* Maintain aspect ratio */
  max-width: 100%; /* Ensure the image doesn't exceed container width */
}

.app-wrapper {
  height: 100%;
  width: 100%;
  color: $textColor;
}

.context-menu-list {
  min-width: 100px;
  color: $textColor;
  padding: 4px;
  gap: 4px;
  outline: none;
  display: flex;
  flex-direction: column;
}

.context-menu-item {
  padding: 8px;
  background-color: $darkColorTrans50;
  border: 1px solid $darkColorTrans50;
  outline: none;
  color: $themeColor;
  text-shadow: $themeColorGlow 0px 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:active {
    transform: none;
  }
  &:hover {
    background: $themeColorTrans80;
    color: $textColor;
    border: 1px solid $themeColorTrans80;
    box-shadow: 0px 0px 10px 0px $themeColorGlow;
    cursor: pointer;
  }
}

.tooltip-description {
  padding-top: 5px;
}

.tooltip-markdown > p {
  margin: 0;
}

button:active {
  transform: translateY(3px);
}

.item-drag-preview {
  width: 7.7vh;
  height: 7.7vh;
  z-index: 1;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5vh;
  image-rendering: -webkit-optimize-contrast;
}

.inventory-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: radial-gradient($darkColorTrans30 0%, $themeColorTrans30 100%);
}

.inventory-wrapper-left {
  background-color: $darkColorTrans50;
  border: 1px solid $darkColorTrans50;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  margin-bottom: 10vh;
  transform: perspective(1000px) rotateY(12deg);
}

.inventory-wrapper-right {
  background-color: $darkColorTrans50;
  border: 1px solid $darkColorTrans50;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  margin-bottom: 10vh;
  transform: perspective(1000px) rotateY(-12deg);
}

.inventory-wrapper-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 50%;
  padding-bottom: 20vh;
}

.inventory-control {

  .inventory-control-wrapper {
    display: flex;
    padding-top: 1vh;
    gap: 10px;
  }

  .inventory-control-input {
    transition: 200ms;
    padding: 11px 8px;
    width: 6rem;
    font-family: $mainFont;
    font-size: 12px;
    text-align: center;
    outline: none;
    color: $textColor;
    text-shadow: $themeColorGlow 0px 0px 10px;
    background: radial-gradient(circle, $darkColorTrans30 0%, $darkColorTrans80 80%);
    border: 1px solid $darkColorTrans30;
    &:hover {
      color: $textColor;
      background:$themeColorTrans80;
      border: 1px solid $darkColorTrans30;
      box-shadow: 0px 0px 10px 0px $themeColorGlow;
    }
    &:focus-within {
      color: $textColor;
      background:$themeColorTrans80;
      border: 1px solid $darkColorTrans30;
    }
  }

  .inventory-control-button {
    font-size: 10px;
    color: $textColor;
    text-shadow: $themeColorGlow 0px 0px 10px;
    background: radial-gradient(circle, $darkColorTrans30 0%, $darkColorTrans80 80%);
    border: 1px solid $darkColorTrans30;
    transition: 200ms;
    padding: 12px 25px;
    text-transform: uppercase;
    font-family: $mainFont;
    width: 100%;
    font-weight: 500;
    &:hover {
      color: $textColor;
      background:$themeColorTrans80;
      border: 1px solid $darkColorTrans30;
      box-shadow: 0px 0px 10px 0px $themeColorGlow;
    }
  }
}

.useful-controls-dialog {
  background-color: $darkColor;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $themeColor;
  text-shadow: $themeColorGlow 0px 0px 10px;
  width: 450px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  border-bottom: 1px solid $darkColorTrans30;
}

.useful-controls-dialog-overlay {
  background-color: $darkColorTrans50;
}

.useful-controls-dialog-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
}

.useful-controls-dialog-close {
  width: 25px;
  height: 25px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: $themeColor;
  border-bottom: 1px solid $darkColorTrans30;
  &:hover {
    -webkit-box-shadow: inset 0px 0px 30px 5px $darkColorTrans80;
    -moz-box-shadow: inset 0px 0px 30px 5px $darkColorTrans80;
    box-shadow: inset 0px 0px 40px 10px $darkColorTrans80;
    cursor: pointer;
  }
}

.useful-controls-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: $textColor
}

.useful-controls-button {
  transition: 200ms !important;
  border: none;
  color: $darkColor;
  padding: 7px 8px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: $textColor;
  background-color: $themeColor;
  border: 1px solid $themeColor;
  border-bottom: 1px solid $darkColorTrans50;
  &:hover {
    -webkit-box-shadow: inset 0px 0px 30px 5px $darkColorTrans80;
    -moz-box-shadow: inset 0px 0px 30px 5px $darkColorTrans80;
    box-shadow: inset 0px 0px 40px 10px $darkColorTrans80;
    cursor: pointer;
  }
}

.useful-controls-exit-button {
  position: absolute !important;
  right: 8px;
  top: 8px;
  color: $textColor !important;
}

// Dialog is used fro useful controls window

// inventory grids
.inventory-grid-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc($gridGap * 2);
  // padding: 0.625rem;
}

.inventory-grid-header-wrapper {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  p {
    margin-bottom: 1vh;
    font-size: 12px;
    font-weight: 600;
    color: $textColor;
    text-shadow: $themeColorGlow 0px 0px 10px;
  }
  // .player-name{
  //   font-size: 22px;
  //   font-weight: 400;
  //   color: $textColor;
  //   width: max-content;
  // }
}

.inventory-grid-container-left {
  display: grid;
  height: $containerSize;
  grid-template-columns: repeat($gridColsL, $gridSize);
  grid-auto-rows: $gridSize + 0.22vh;
  gap: $gridGap;
  overflow-y: scroll;
}

.inventory-grid-container-right {
  display: grid;
  height: $containerSize;
  grid-template-columns: repeat($gridColsR, $gridSize);
  grid-auto-rows: $gridSize + 0.22vh;
  gap: $gridGap;
  overflow-y: scroll;
}

@keyframes zoomOutAndShake {
  0% {
      transform: scale(0);
  }
  100% {
      transform: scale(1);
  }
}

// inventory slots
.inventory-slot {
  background-color: $lightColorTrans10;
  border: 1px solid $darkColorTrans50;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  position: relative;
  background-size: 5vh;
  color: $textColor;
  -webkit-box-shadow: inset 0px 0px 30px 5px $darkColorTrans80;
  -moz-box-shadow: inset 0px 0px 30px 5px $darkColorTrans80;
  box-shadow: inset 0px 0px 40px 10px $darkColorTrans80;
  animation: zoomOutAndShake 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  border-bottom: 1px solid $darkColorTrans80;
  &:hover {
    -webkit-box-shadow: inset 0px 0px 30px 5px $themeColorTrans80;
    -moz-box-shadow: inset 0px 0px 30px 5px $themeColorTrans80;
    box-shadow: inset 0px 0px 40px 10px $themeColorTrans80;
  }
}

.inventory-slot-label-box {
  -webkit-box-shadow: inset 0px 0px 30px 5px $themeColorTrans80;
  -moz-box-shadow: inset 0px 0px 30px 5px $themeColorTrans80;
  box-shadow: inset 0px 0px 40px 10px $themeColorTrans80;
  position: relative;
  color: $textColor;
  text-align: center;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.inventory-slot-label-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1px;
  font-weight: 300;
  font-family: $mainFont;
  font-size: 10px;
}

.inventory-slot-number {
  background-color: $themeColor;
  box-shadow: 0 0 2vh $themeColorGlow;
  color: $textColor;
  height: 14px;
  width: 12px;
  padding: 2px;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  font-family: $mainFont;
}

.item-slot-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  p {
    font-size: 10px;
  }
}

.item-slot-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.item-hotslot-header-wrapper {
  @extend .item-slot-header-wrapper;
  justify-content: space-between !important;
}

.item-slot-info-wrapper {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  color: $textColor;
  padding: 2px;
  padding-right:4px;
  gap: 2px;
  p {
    font-size: 10px;
  }
}

.item-slot-currency-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3px;
  p {
    font-size: 12px;
  }
}

.item-slot-price-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 3px;
  p {
    font-size: 10px;
  }
}

.tooltip-wrapper {
  pointer-events: none;
  display: flex;
  padding: 8px;
  flex-direction: column;
  min-width: 100px;
  max-width: 300px;
  color: $textColor;
  font-family: $mainFont;
  background-color: $darkColorTrans80;
  p {
    font-size: 10px;
    font-weight: 400;
    padding-bottom: 4px;
  }
}

.tooltip-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  p {
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 4px;
  }
}

.tooltip-crafting-duration {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  svg {
    padding-right: 3px;
  }
  p {
    font-size: 12px;
  }
}

.tooltip-ingredients {
  padding-top: 5px;
}

.tooltip-ingredient {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  img {
    width: 28px;
    height: 28px;
    padding-right: 5px;
  }
}

// Hotslot
.hotslot-wrapper {
  display: grid;
  height: $containerSize;
  grid-template-columns: repeat(5, $gridSize);
  grid-auto-rows: $gridSize + 0.22vh;
  gap: $gridGap;
}

// hotbar
.hotbar-container {
  display: flex;
  align-items: center;
  gap: 2px;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 2vh;
}

.hotbar-item-slot {
  @extend .inventory-slot;
  width: $gridSize;
  height: $gridSize;
}

.hotbar-slot-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// item notifications
.item-notification-container {
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  gap: 2px;
  position: absolute;
  bottom: 10vh;
  left: 50%;
  width: 100%;
  margin-left: calc(50% - calc($gridSize/2));
  transform: translate(-50%);
}

.item-notification-action-box {
  width: 100%;
  color: $textColor;
  text-shadow: $themeColorGlow 0px 0px 10px;
  text-transform: uppercase;
  text-align: center;
  font-family: $mainFont;
  p {
    font-size: 10px;
    padding: 2px;
    font-weight: 600;
  }
}

.item-notification-item-box {
  @extend .inventory-slot;
  height: $gridSize;
  width: $gridSize;
}

.durability-bar {
  background-color: $darkColorTrans80;
  height: 3px;
  overflow: hidden;
}

.weight-bar {
  background-color: $darkColorTrans80;
  height: 1vh;
  overflow: hidden;
}

.transition-fade-enter {
  opacity: 0;
}

.transition-fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.transition-fade-exit {
  opacity: 1;
}

.transition-fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.transition-slide-up-enter {
  transform: translateY(200px);
}

.transition-slide-up-enter-active {
  transform: translateY(0px);
  transition: all 200ms;
}

.transition-slide-up-exit {
  transform: translateY(0px);
}

.transition-slide-up-exit-active {
  transform: translateY(200px);
  transition: all 200ms;
}

.group .overlap-group {
  width: 50vh;
  height: 70vh;
}

.group .head {
  height: 38.2vw;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0.8vw;
  width: 20vw;
}

.group .neck {
  height: 38.2vw;
  left: 5.5vw;
  object-fit: cover;
  position: absolute;
  top: 0.5vw;
  width: 20vw;
}

.group .upperbody {
  height: fit-content;
  left: 2.75vw;
  top: 0.4vw;
  width: 20vw;
  object-fit: cover;
  position: absolute;
}

.group .lowerbody {
  height: 38.2vw;
  left: 2.76vw;
  object-fit: cover;
  position: absolute;
  top: 0.12vw;
  width: 20vw;
}

.group .larm {
  height: 38.2vw;
  left: 2.8vw;
  object-fit: cover;
  position: absolute;
  top: 0.375vw;
  width: 20vw;
}

.group .lhand {
  height: 38.2vw;
  left: 2.8vw;
  object-fit: cover;
  position: absolute;
  top: 0.3vw;
  width: 20.07625vw;
}

.group .rarm {
  height: 38.2vw;
  left: 2.6vw;
  object-fit: cover;
  position: absolute;
  top: 0.3vw;
  width: 20vw;
}

.group .rhand {
  height: 38.9vw;
  left: 2.5vw;
  object-fit: cover;
  position: absolute;
  width: 20vw;
}

.group .lleg {
  height: 38.2vw;
  object-fit: cover;
  position: absolute;
  left: 2.9vw;
  top: 0.2vw;
  width: 20vw;
}

.group .lfoot {
  top: 0.35vw;
  left: 3.1vw;
  position: absolute;
  width: 19.4vw;
  height: 38.2vw;
}

.group .rleg {
  height: 38.2vw;
  left: 2.75vw;
  object-fit: cover;
  position: absolute;
  top: 0.2vw;
  width: 20vw;
}

.group .rfoot {
  top: 0.4;
  left: 2.95vw;
  position: absolute;
  width: 19.4;
  height: 38vw;
}