$textColor: #f8f9fa;
$iconColor: #343a40;
$mainFont: Roboto;

$themeColor: #f8f9fa;
$darkColor: #212529;
$lightColor: #f8f9fa;
$lightDarkColor: #495057;

$specialColor: #AE3EC9;
$rareColor: #F03E3E;

$gridColsL: 5;
$gridRowsL: 3;
$gridColsR: 5;
$gridRowsR: 5;
$gridSize: 10vh;
$gridGap: 5px;
$containerSizeL: calc(#{$gridRowsL} * #{$gridSize + 0.22vh} + #{$gridRowsL} * #{$gridGap});
$containerSizeR: calc(#{$gridRowsR} * #{$gridSize + 0.22vh} + #{$gridRowsR} * #{$gridGap});

@keyframes zoomInAndShake {
  0% {
      transform: scale(0);
  }
  100% {
      transform: scale(1);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: none !important;
  overflow: hidden !important;
  user-select: none;
}

:root {
  --themeColor: #{$themeColor};
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
  position: absolute;
  width: 2px;
}

::-webkit-scrollbar-track {
  background: rgba($lightColor, 0.2);
}

::-webkit-scrollbar-thumb {
  background: rgba($themeColor, 0.8);
}

p {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.app-wrapper {
  height: 100%;
  width: 100%;
  color: $lightColor;
}

.context-menu-list {
  min-width: 150px;
  background-color: rgba($lightColor, 0.8);
  border: 1px solid rgba($lightColor, 0.2); 
  box-shadow: 0px 0px 10px 1px rgba($lightColor, 0.3) inset;
  color: $textColor;
  padding: 4px;
  border-radius: 2px;
  outline: none;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.context-menu-item  {
  padding: 4px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba($darkColor, 0.2);
  margin: 2px 0px 2px 0px;
  color: $darkColor;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  font-family: $mainFont;
  font-size: 12px;
  &:active {
    transform: none;
  }
  &:hover {
    color: rgba($lightColor, 0.9);
    background: rgba($darkColor, 0.9);
    border: 1px solid rgba($darkColor, 0.9);
    box-shadow: 0px 0px 10px 0px rgba($darkColor, 0.2);
    cursor: pointer;
  }
}

button:active {
  transform: translateY(3px);
}

.item-drag-preview {
  width: 7vh;
  height: 7vh;
  z-index: 1;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 7vh;
  image-rendering: -webkit-optimize-contrast;
}

.inventory-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 10vw;
  background: linear-gradient(90deg, rgba($darkColor, 0.9) 0%, rgba($darkColor, 0.5) 50%, rgba($darkColor, 0.9) 100%);
}

.inventory-control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5vh;

  .inventory-control-wrapper {
    display: flex;
    gap: 5px;
  }

  .inventory-control-input {
    transition: 200ms;
    width: 10rem;
    font-family: $mainFont;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    outline: none;
    color: $textColor;
    background: radial-gradient(circle, rgba($lightColor, 0.1) 0%, rgba($lightColor, 0.1) 80%);
    border: 1px solid rgba($lightColor, 0.1);
    &:hover {
      color: $darkColor;
      background: rgba($lightColor, 0.8);
      border: 1px solid rgba($lightColor, 0.8);
      box-shadow: 0px 0px 10px 0px rgba($lightColor, 0.2);
    }
  }

  .inventory-control-button {
    font-size: 12px;
    color: $textColor;
    background: radial-gradient(circle, rgba($lightColor, 0.1) 0%, rgba($lightColor, 0.1) 80%);
    border: 1px solid rgba($lightColor, 0.1);
    transition: 200ms;
    padding: 10px 25px;
    text-transform: uppercase;
    font-family: $mainFont;
    width: 100%;
    font-weight: 400;
    &:hover {
      color: $darkColor;
      background: rgba($lightColor, 0.8);
      border: 1px solid rgba($lightColor, 0.8);
      box-shadow: 0px 0px 10px 0px rgba($lightColor, 0.2);
    }
  }
}

.useful-controls-dialog {
  background-color: rgba($lightColor, 0.4);
  border: 1px solid rgba($lightColor, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $textColor;
  width: 450px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 4px;
  gap: 16px;
}

.useful-controls-dialog-overlay {
  background: radial-gradient(rgba($darkColor, 0.4) 0%, rgba($darkColor, 1) 100%);
}

.useful-controls-dialog-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.useful-controls-dialog-close {
  width: 25px;
  height: 25px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  fill: $textColor;
  &:hover {
    background-color: $themeColor;
    cursor: pointer;
  }
}

.useful-controls-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.divider {
  width: 100%;
  height: 1px;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: rgba($lightColor, 0.2);
}

.useful-controls-button {
  position: absolute !important;
  bottom: 25px;
  right: 25px;
  transition: 200ms !important;
  border: none;
  color: $textColor;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: $textColor;
  border-radius: 5% !important;
  background-color: $themeColor !important;
  &:hover {
    background-color: $themeColor !important;
    cursor: pointer;
  }
}

.useful-controls-exit-button {
  position: absolute !important;
  right: 8px;
  top: 8px;
  border-radius: 2.5% !important;
  color: grey !important;
}

// Dialog is used fro useful controls window


// inventory grids
.inventory-grid-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc($gridGap * 2);
}

// inventory slots
.inventory-slot {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
  image-rendering: -webkit-optimize-contrast;
  background-size: 5vh;
  color: $textColor;
  background-color: rgba($lightColor, 0.1);
  border: 1px solid rgba($lightColor, 0.2); 
  z-index: 1;
  height: $gridSize;
  cursor: grab;
  &:hover {
    background-color: rgba($lightColor, 0.2);
    border: 1px solid rgba($lightColor, 0.3); 
  }
}

.inventory-slot-rare {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
  image-rendering: -webkit-optimize-contrast;
  background-size: 5vh;
  color: $textColor;
  background-color: rgba($rareColor, 0.2);
  border: 1px solid rgba($rareColor, 0.2); 
  z-index: 1;
  height: $gridSize;
  cursor: grab;
  &:hover {
    background-color: rgba($rareColor, 0.4);
    border: 1px solid rgba($rareColor, 0.4); 
  }
}

.inventory-slot-special {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
  image-rendering: -webkit-optimize-contrast;
  background-size: 5vh;
  color: $textColor;
  background-color: rgba($specialColor, 0.2);
  border: 1px solid rgba($specialColor, 0.2); 
  z-index: 1;
  height: $gridSize;
  cursor: grab;
  &:hover {
    background-color: rgba($specialColor, 0.4);
    border: 1px solid rgba($specialColor, 0.4); 
  }
}

.inventory-slot-label-box {
  background-color: transparent;
  color: $textColor;
  text-align: center;
}

.inventory-slot-label-text {
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1px 1px;
  font-weight: 400;
  font-family: $mainFont;
  font-size: 10px;
}

.item-slot-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  z-index: 2;
  p {
    font-size: 12px;
  }
}

.item-slot-header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.item-hotslot-header-wrapper {
  @extend .item-slot-header-wrapper;
  justify-content: space-between !important;
}

.item-slot-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px 6px 4px 6px;
  p {
    font-size: 11px;
  }
}

.item-slot-currency-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  top: 0vh;
  padding: 2px;
  max-width: 80%;
  background: rgba($themeColor, 0.5);
  border: 1px solid rgba($themeColor, 0.5);
  box-shadow: 0px 0px 10px 0px rgba($themeColor, 0.2);
  p {
    font-size: 11px;
    text-shadow: 0.1vh 0.1vh 0 rgba($darkColor, 0.25);
  }
}

.item-slot-price-wrapper {
  position: absolute;
  top: 0vh;
  padding: 4px;
  background: rgba($themeColor, 0.5);
  border: 1px solid rgba($themeColor, 0.5);
  box-shadow: 0px 0px 10px 0px rgba($themeColor, 0.2);
  p {
    font-size: 11px;
    text-shadow: 0.1vh 0.1vh 0 rgba($darkColor, 0.25);
  }
}

.tooltip-wrapper {
  display: flex;
  flex-direction: column;
  width: fit-content;
  min-width: 200px;
  max-width: 250px;
  height: fit-content;
  flex-shrink: 0;
  padding: 10px;
  border-radius: 2px;
  background-color: rgba($lightColor, 0.8);
  border: 1px solid rgba($lightColor, 0.2); 
  color: $darkColor;
  font-size: 12px;
  position: relative;
  z-index: 10;

  .tooltip-header-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
    position: relative;
    justify-content: space-between;

    .tooltip-header-title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
  }
}

.tooltip-description {
  color: rgba($darkColor, 0.6);
  text-shadow: 0px 1px 1px rgba($darkColor, 0.25);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tooltip-metadata-text {
  display: flex;
  color: rgba($darkColor, 0.6);
  text-shadow: 0px 1px 1px rgba($darkColor, 0.25);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tooltip-metadata-value {
  color: rgba($darkColor, 0.9);
  padding-left: 2px;
  text-shadow: 0px 1px 1px rgba($darkColor, 0.25);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.tooltip-type-special {
  background-color: rgba($specialColor, 0.6);
  border: 1px solid rgba($specialColor, 0.2);
  box-shadow: 0px 0px 10px 1px rgba($specialColor, 0.6);
  text-shadow: 0px 1px 1px rgba($darkColor, 0.25);
  color: $textColor;
  justify-content: center;
  align-content: center;
  text-transform: uppercase;
  padding: 1px 4px 1px 4px;
  margin-left: auto;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
}

.tooltip-type-rare {
  background-color: rgba($rareColor, 0.6);
  border: 1px solid rgba($rareColor, 0.2);
  box-shadow: 0px 0px 10px 1px rgba($rareColor, 0.6);
  text-shadow: 0px 1px 1px rgba($darkColor, 0.25);
  color: $textColor;
  justify-content: center;
  align-content: center;
  text-transform: uppercase;
  padding: 1px 4px 1px 4px;
  margin-left: auto;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
}

.tooltip-weight {
  color: rgba($darkColor, 0.6);
  justify-content: center;
  align-content: center;
  text-shadow: 0px 1px 1px rgba($darkColor, 0.25);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  padding-left: 5px;
}

.tooltip-item-name {
  color: rgba($darkColor, 0.8);
  justify-content: center;
  align-content: center;
  text-shadow: 0px 1px 1px rgba($darkColor, 0.25);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.tooltip-header-wrapper {
  display: flex;
  flex-direction: row;
}

.tooltip-crafting-duration {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  svg {
    padding-right: 3px;
  }
  p {
    font-size: 14px;
  }
}

.tooltip-ingredients {
  padding-top: 5px;
}

.tooltip-ingredient {
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    width: 28px;
    height: 28px;
    padding-right: 5px;
  }
}

// hotbar
.hotbar-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
  bottom: -1.5vh;
  width: 100%;
  gap: 2vh;
  scale: 0.8;
} 

.hotbar-slot-number {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $lightColor;
  opacity: 0.4;
  height: 100%;
  width: 100%;
  font-size: 60px;
  font-family: $mainFont;
  z-index: 0;
}

.hotbar-item-slot-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 6vh;
  image-rendering: -webkit-optimize-contrast;
  z-index: 2;
}

.hotbar-item-slot {
  @extend .inventory-slot;
  width: $gridSize;
  height: $gridSize;
  background-color: rgba($darkColor, 0.2);
  border: 1px solid rgba($darkColor, 0.2); 
  color: $textColor;
  z-index: 1;
}

.hotbar-item-slot-special {
  @extend .inventory-slot;
  width: $gridSize;
  height: $gridSize;
  background-color: rgba($specialColor, 0.4);
  border: 1px solid rgba($specialColor, 0.4); 
  border-radius: 2px;
  color: $textColor;
  z-index: 1;
}

.hotbar-item-slot-rare {
  @extend .inventory-slot;
  width: $gridSize;
  height: $gridSize;
  background-color: rgba($rareColor, 0.4);
  border: 1px solid rgba($rareColor, 0.4); 
  border-radius: 2px;
  color: $textColor;
  z-index: 1;
}

// item notifications

.item-notification-container {
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  gap: 4px;
  position: absolute;
  bottom: 10vh;
  left: 30.5%;
  width: 100%;
  margin-left: calc(50% - calc($gridSize/2));
  transform: translate(-50%);
  overflow: hidden;
  scale: 0.8;
}

.item-notification-action-box {
  width: 100%;
  color: $textColor;
  background-color: rgba($darkColor, 0.8);
  text-transform: uppercase;
  text-align: center;
  font-family: $mainFont;
  p {
    font-size: 12px;
    padding: 2px;
    font-weight: 600;
  }
}

.item-notification-item-box {
  @extend .inventory-slot;
  height: $gridSize;
  width: $gridSize;
  color: rgba($darkColor, 0.9);
  background-size: 7vh;
  background-position-y: 25px;
  background-color: rgba($darkColor, 0.2);
  border: 1px solid rgba($darkColor, 0.2); 
  // animation: zoomInAndShake 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.durability-bar {
  background: rgba($lightColor, 0.2);
  height: 3px;
  overflow: hidden;
}

.transition-fade-enter {
  opacity: 0;
}

.transition-fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.transition-fade-exit {
  opacity: 1;
}

.transition-fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.transition-slide-up-enter {
  transform: translateY(200px)
}

.transition-slide-up-enter-active {
  transform: translateY(0px);
  transition: all 200ms;
}

.transition-slide-up-exit {
  transform: translateY(0px);
}

.transition-slide-up-exit-active {
  transform: translateY(200px);
  transition: all 200ms;
}

// nt_custom
.inventory-head {
  display: flex;
  height: fit-content;
  align-items: center;
  flex-shrink: 0;
  border-radius: .5vw;
}

.inventory-grid-header-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  gap: .5vw;
  color: $textColor;
  text-align: start;
}

.inventory-icon-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.75vw;
  height: 3.5vh;
  border-radius: 2px;
  background: rgba($themeColor, 0.8);
  box-shadow: 0px 0px 10px 1px rgba($themeColor, 0.5);
  color: $iconColor;
}

.inventory-label-box {
  display: flex;
  flex-direction: end;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.inventory-label-text {
  width: 100%;
  color: $textColor;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.inventory-label-text::first-letter {
  text-transform: uppercase;
}

.inventory-icon-box-weight {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.1vw;
  height: 2vh;
  border-radius: 2px;
  background: rgba($themeColor, 0.8);
  box-shadow: 0px 0px 10px 1px rgba($themeColor, 0.5);
  margin-left: 0.5vw;
  color: $iconColor;
}

.inventory-grid-header-bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 1.5vh;
}

.inventory-weight-text-area {
  display: flex;
  justify-content: end;
  width: 100%;
  height: 1vh;
}

.inventory-weight {
  display: flex;
  align-items: flex-start;
  color: $textColor;
  text-align: right;
  text-shadow: 0px 1px 1px rgba($darkColor, 0.25);
  color: $textColor;
  font-size: 14px;
  font-weight: 800;
  border-radius: 2px;
}

.weight-bar {
  display: flex;
  width: 100%;
  background: rgba($lightColor, 0.2);
  height: 1vh;
  border-radius: 2px;
  overflow: hidden;
}

.inventory-slot-wrapper {
  position: relative;
  animation: zoomInAndShake 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  overflow: hidden;
}

.inventory-slot-number {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $lightColor;
  opacity: 0.4;
  height: 100%;
  width: 100%;
  font-size: 60px;
  font-family: $mainFont;
  z-index: 0;
}

.inventory-grid-container-left {
  display: grid;
  width: 54vh;
  height: $containerSizeL;
  grid-template-columns: repeat($gridColsL, $gridSize + 0.22vh);
  grid-auto-rows: $gridSize + 0.22vh;
  gap: $gridGap;
  overflow-y: scroll;
}

.inventory-grid-container-right {
  display: grid;
  width: 54vh;
  height: $containerSizeR;
  grid-template-columns: repeat($gridColsR, $gridSize + 0.22vh);
  grid-auto-rows: $gridSize + 0.22vh;
  gap: $gridGap;
  overflow-y: scroll;
}

.inventory-wrapper-left {
  background-color: rgba($lightColor, 0.1);
  border: 1px solid rgba($lightColor, 0.2); 
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  transform: perspective(1000px) rotateY(12deg);
}

.inventory-wrapper-right {
  background-color: rgba($lightColor, 0.1);
  border: 1px solid rgba($lightColor, 0.2); 
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  transform: perspective(1000px) rotateY(-12deg);
}

.inventory-wrapper-body {
  background-color: rgba($lightColor, 0.1);
  border: 1px solid rgba($lightColor, 0.2); 
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  transform: perspective(1000px) rotateY(-12deg);
}

.body-container {
  width: 54vh;
  height: $containerSizeR;
  margin-top: 2.2vh;
  margin-bottom: 2.2vh;
  // animation: zoomInAndShake 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.body-container-img-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .body-container-img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.body-info-box {
  position: relative;
  height: fit-content;
  font-size: 12px;
  padding: 6px;
  background-color: rgba($lightColor, 0.8);
  border: 1px solid rgba($lightColor, 0.2); 
  transform: perspective(1000px) rotateY(-20deg);
}

.body-info-header {
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
  color: rgba($darkColor, 0.9);
}

.body-info-detail-box {
  color: rgba($textColor, 0.9);
  width: 10vw;
  height: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2px;
}

.body-info-detail-name {
  width: 50%;
  background-color: rgba($darkColor, 0.9);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.body-info-detail-value {
  width: 50%;
  color: rgba($darkColor, 0.9);
  background-color: rgba($darkColor, 0.1);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.body-info-line-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .body-info-line-box-wrapper {
    width: 100%;
    height: 100%;
  }

  .body-info-line-box {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .body-info-line-right {
      border-bottom: 1px solid;
      border-image: linear-gradient(to right, transparent, $lightColor) 0.5;
    }

    .body-info-line-left {
      border-bottom: 1px solid;
      border-image: linear-gradient(to left, transparent, $lightColor) 0.5;
    }

    .body-info-line-label {
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100%;
      bottom: 14px;
      font-size: 12px;
      text-align: center;
      width: 8vh;
    }

    .body-info-line-bar {
      border: 1px solid rgba($lightColor, 0.6);
      width: 8vh;
    }

    .body-info-line-fill {
      height: 3px;
      background-color: $themeColor;
      transition: 'background ${0.3}s ease, width ${0.3}s ease',
    }
  }
  
}

.body-info {
  position: absolute;
  z-index: 1;
}

.background-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
  filter: brightness(40%) contrast(70%) opacity(.9);
  z-index: -1;
}

.inventory-view-button {
  position: absolute;
  right: 0;
  top: -3vw;

  .inventory-view-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 5px;
  }

  .inventory-view-button-inner {
    font-size: 10px;
    font-weight: 800;
    padding: 5px 7px;
    color: $iconColor;
    background-color: rgba($themeColor, 0.5);
    border: 1px solid rgba($themeColor, 0.5); 
    box-shadow: 0px 0px 10px 1px rgba($themeColor, 0.5) inset;
  }
  
  .inventory-view-button-inactive {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    font-size: 10px;
    color: $textColor;
    background: radial-gradient(circle, rgba($lightColor, 0.1) 0%, rgba($lightColor, 0.1) 80%);
    border: 1px solid rgba($lightColor, 0.1);
    transition: 200ms;
    padding: 5px 5px;
    text-transform: uppercase;
    font-family: $mainFont;
    width: fit-content;
    font-weight: 400;
    z-index: 9;
    &:hover {
      color: $textColor;
      background: rgba($themeColor, 0.5);
      border: 1px solid rgba($themeColor, 0.5);
      box-shadow: 0px 0px 10px 0px rgba($themeColor, 0.2);
    }
  }

  .inventory-view-button-active {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    font-size: 10px;
    color: $textColor;
    background: rgba($themeColor, 0.3);
    border: 1px solid rgba($themeColor, 0.3);
    box-shadow: 0px 0px 10px 0px rgba($themeColor, 0.2);
    transition: 200ms;
    padding: 5px 5px;
    text-transform: uppercase;
    font-family: $mainFont;
    width: fit-content;
    font-weight: 400;
    z-index: 9;
    &:hover {
      color: $textColor;
      background: rgba($themeColor, 0.5);
      border: 1px solid rgba($themeColor, 0.5);
      box-shadow: 0px 0px 10px 0px rgba($themeColor, 0.2);
    }
  }
}